
# Directories
.github/
.vscode/
artifact/
configuration/
coverage/
documentation/
infrastructure/
log/
playground/
script/
service/**/data/
service/**/migration/
service/traefik-service/certificate-authorities/
service/traefik-service/certificates/
service/traefik-service/script/
terraform/
tmp/

# Files
service/traefik-service/stack.traefik.toml
