
# Directories
.github/
.vscode/
configuration/
coverage/
documentation/
infrastructure/
log/
playground/
script/
service/**/artifact/
service/**/data/
service/**/migration/
service/traefik/certificate-authorities/
service/traefik/certificates/
service/traefik/script/
terraform/
tmp/

# Files
**/tsconfig.tsbuildinfo
