
# Top level directories
ca/*
certificates/*
coverage/*
log/*
tmp/*

# Chrome
.chrome/

# Docker
**/data/*

# MacOS
.DS_Store

# Environment
.env*
!.env.example

# Secrets
.secret/**

# Terraform
infrastructure/**/.terraform/
infrastructure/**/*.override.tf
infrastructure/**/*.tfstate
infrastructure/**/*.tfstate.backup
infrastructure/**/*.tfvars
infrastructure/**/.env
infrastructure/**/.terraform.tfstate.lock.info

# Typescript
tsconfig.tsbuildinfo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/unplugged
!.yarn/versions
.yarn/install-state.gz
