
# MacOS Files
.DS_Store

# Top level directories
.secret/*
.ssh/*
artifact/*
certificate/*
coverage/*
log/*
node_modules/*
tmp/*

# Directories & files in subdirectories
**/.secret/*
**/data/*
**/.terraform/
**/node_modules/*
**/*.override.tf
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/.env

# Yarn files
.yarn/install-state.gz
yarn-error.log

# Pipelines files
vars.yml

# Environment Files
.env*
!.env.example
