
# Top level directories
artifact/*
coverage/*
log/*
tmp/*

# Docker
**/data/*

# MacOS
.DS_Store

# Environment
.env*
!.env.example

# Terraform
**/.terraform/
**/*.override.tf
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/.env

# Typescript
tsconfig.tsbuildinfo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/unplugged
!.yarn/versions
.yarn/install-state.gz
