@import "tailwindcss" source(none);

@source "./stylesheet";
@source "../../library/uikit/src";
@source "../../service/authentication/src/template";
@source "../../service/error/src/template";
@source "../../service/marketing/src/template";
@source "../../service/navigation/src/template";
@source "../../service/portal/src/template";
@source "../../service/user/src/template";

@theme {
  --inset-shadow-md: inset 0 2px 3px rgba(0, 0, 0, 0.25);
  --inset-shadow-xl: inset 0 0 20px -3px rgba(0, 0, 0, 0.25);
  --inset-shadow-lg: inset 0 0 16px -8px rgba(0, 0, 0, 0.25);
}

.htmx-request.htmx-indicator-hide, .htmx-request .htmx-indicator-hide{
  visibility: hidden;
}

@import "./stylesheet/asides.css";
@import "./stylesheet/body.css";
@import "./stylesheet/button/continue-with-google.css";
@import "./stylesheet/button/login-with-password.css";
@import "./stylesheet/main.css";
@import "./stylesheet/nav.css";
@import "./stylesheet/nav~main>div[data-component=anchored-bar].css";
@import "./stylesheet/user-table-tools.css";
