@import "tailwindcss";

@source not "./public/assets/stylesheet.css";
@source not "**/artifact/";
@source not "**/node_modules/";

@layer utilities {
  .inset-shadow-xl {
    --tw-shadow: inset -12px 0 20px -12px rgb(0 0 0 / var(--tw-shadow-opacity, 0.5));
    box-shadow: var(--tw-shadow);
  }

  .inset-shadow-l {
    --tw-shadow: inset -8px 0 16px -8px rgb(0 0 0 / var(--tw-shadow-opacity, 0.4));
    box-shadow: var(--tw-shadow);
  }
}

.htmx-request .htmx-indicator-hide, .htmx-request.htmx-indicator-hide {
  visibility: hidden;
}

@import "./stylesheet/asides.css";
@import "./stylesheet/main.css";
@import "./stylesheet/nav.css";
@import "./stylesheet/nav~main>div[data-component=anchored-bar].css";
@import "./stylesheet/user-table-tools.css";
