mixin link--text(options)
  a(
    class="inline-flex cursor-pointer items-center px-3 py-1 text-sm leading-4 font-medium rounded transition-colors"
    href=options.href
    id=options.id
  )&attributes(attributes)
    div(class="htmx-indicator-hide")
      block icon
      | #{options.text}
    div(class="absolute mx-auto my-auto")
      div(class="htmx-indicator text-white")
        include ../svg/button-loader.pug
